# URL do front-end web carregado dentro da WebView do Expo.
# Troque IP_DO_COMPUTADOR pelo IPv4 do PC que está rodando o Vite.
# Exemplo: EXPO_PUBLIC_WEB_URL=http://192.168.0.25:5173
EXPO_PUBLIC_WEB_URL=http://IP_DO_COMPUTADOR:5173
